<div class="column__wrapper" [ngClass]="{ 'column-add': isCreateColumn }">
  <ng-container *ngIf="!isCreateColumn; else addColumn">
    <button class="column__btn-create" (click)="isCreateColumn = true">
      <mat-icon>add</mat-icon>
      <span class="column__btn-text"> Add another column</span>
    </button>
    <button class="column__btn-conf">
      <mat-icon [inline]="true" (click)="openDialog()"
        >add_circle_outline</mat-icon
      >
    </button>
  </ng-container>
</div>
<ng-template #addColumn>
  <form>
    <div class="column__container" @openColumnAdd>
      <input
        [formControl]="tForm"
        class="column__input"
        type="text"
        autocomplete="off"
        placeholder="Enter column title..."
        autofocus
      />
      <div class="column__control">
        <button
          type="button"
          class="column__btn-add"
          mat-raised-button
          (click)="onCreateColumn(tForm.value)"
          [disabled]="!isValidForm"
        >
          Add column
        </button>
        <button
          type="button"
          class="column__btn-close"
          (click)="isCreateColumn = false"
        >
          <mat-icon [inline]="true">close</mat-icon>
        </button>
      </div>
    </div>
  </form>
</ng-template>
