<div class="column__wrapper">
  <div class="column__container">
    <div class="column__title">
      <h2 class="column__title-header" *ngIf="!isChangeTitle; else changeTitle">
        {{ column.title }}
      </h2>
    </div>
    <div class="column__tasks" *ngFor="let task of tasks$ | async">
      <div class="t">
        <p>{{task.title}}</p>
        <p>{{task.description}}</p>
      </div>
    </div>
    <div class="column__task-create">
      <app-create-task [columnId]="column.id"></app-create-task>
    </div>
  </div>
</div>
<ng-template #changeTitle>
  <textarea name="" id="" cols="30" rows="10"></textarea>
</ng-template>
