<div class="column__wrapper">
  <div class="column__container">
    <div class="column__title">
      <h2 class="column__title-header" *ngIf="!isChangeTitle; else changeTitle">
        {{ dataForApi.column.title }}
      </h2>
    </div>
    <div class="column__tasks"
      cdkDropList
      id={{dataForApi.column.id}}
      [cdkDropListConnectedTo]="getColumnsId(dataForApi.column.id)"
      (cdkDropListDropped)="dropTask($event)">
      <ng-container *ngFor="let task of tasks$ | async">
        <app-task cdkDrag [task]="task"></app-task>
      </ng-container>
    </div>
    <div class="column__task-create">
      <app-create-task [columnId]="dataForApi.column.id"></app-create-task>
    </div>
  </div>
</div>
<ng-template #changeTitle>
  <textarea name="" id="" cols="30" rows="10"></textarea>
</ng-template>
