<div class="task__wrapper">
  <div class="task__container">
    <div class="task__title-container">
      <div class="face face1">
        <div class="content">
          <h3 class="task__title">{{ task.title }}</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p class="task__description">{{ task.description }}</p>
        </div>
      </div>
    </div>
    <!-- <div class="task__description-container">
      <p class="task__description">{{ task.description }}</p>
    </div> -->
  </div>
</div>
