<div class="container">
  <form class="signup__input-fields" (ngSubmit)="onSubmit()">
    <mat-form-field class="field" appearance="fill">
      <mat-label>name</mat-label>
      <input matInput [formControl]="nameControl" />
      <mat-error *ngIf="nameControl.hasError('required')">
        That field is required
      </mat-error>
    </mat-form-field>
    <app-auth-template
      (formGroup)="checkLoginAndPasswordFields($event)"
    ></app-auth-template>
    <button
      type="submit"
      class="btn__form"
      mat-raised-button
      [disabled]="!isValidForm"
      [ngClass]="{ 'btn__form-valid': isValidForm }"
    >
      Sign Up
    </button>
  </form>
  <p class="sighup__message">{{ errorMessage }}</p>
</div>
