@import "../../../style/default.scss";

.wrapper-header {
  padding: 6px 4px;
  width: 100%;
  height: 65px;
  background-color: $btnBackColorHover;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
}

.header-right {
  display: flex;
  // justify-content: space-between;
}

.btn-wrap {
  text-align: center;
  color: white;
  @include design;
  padding: 0 10px;
  margin: 0;
  height: 32px;
}

.wrapper-button {
  display: flex;
}

.btn-ru,
.btn-en {
  width: 50px;
  @include flexCenter;
  margin: 0 1px;
  height: 40px;
  @include btn;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  &:hover {
    @include btn-hover();
  }
}

.search-wrap {
  @include flexCenter;
  color: white;
}

.search {
  background-color: $btnBackColorHover;
  color: white;
  border: none;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid;
  width: 90px;
  font-weight: 100;
  &::-webkit-input-placeholder {
    color: white;
    font-weight: 100;
    font-size: 14px;
  }
}

.logo {
  @include flexCenter();
  margin-left: 10px;
}

.additionally {
  @include btn;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0 5px;
  width: 110px;
  height: 40px;
  &:hover {
    @include btn-hover;
  }
}

.registration {
  display: flex;
}

.burger{
  height: 40px;
  width: 40x;
  color: $btnColor;
  background-color: $btnBackColor;
  display: none;
}

@media (max-width: 960px){
  .burger{
     display: flex;
  }

  .registration, .wrapper-button{
    display: none;
   }

  .hide{
    display: flex;
  }

}
  
  