<div class="wrapper-header">
  <div class="header-left">
    <div class="logo">
      <img
        src="../../../assets/images/logo.png"
        alt=""
        width="110"
        height="65"
      />
    </div>
  </div>

  <div class="wrapper-button">
    <div class="btn-en">EN</div>
    <div class="btn-ru">RU</div>
  </div>

  <div class="search-wrap" *ngIf="AuthStateService.getCurrentState()">
    <input type="text" [(ngModel)]="userText"   placeholder="Search" class="search" (keyup)="getText()" routerLink="/search">
    <div class="cancel" style="cursor: pointer" (click)="delete()">
      <mat-icon>cancel</mat-icon>
    </div>
  </div>

  <div class="header-right">
    <div class="registration" *ngIf="AuthStateService.getCurrentState(); else registrationNot">
      <div class="btn-wrap additionally" routerLink="/team">
        Team
        <mat-icon>expand_more</mat-icon>
      </div>
  
      <div class="btn-wrap additionally" routerLink="/main">All boards</div>
      <div class="btn-wrap additionally" (click)="openDialog()">
        Create new <br />
        board
      </div>
      <div class="btn-wrap additionally" routerLink="/auth/profile">
        Edit profile
      </div>
      <div class="btn-wrap black additionally" routerLink="/auth/signin">Logout</div>
    </div>

    <ng-template #registrationNot>
      <div class="registration">
        <div class="btn-wrap additionally" routerLink="/team">
          Team
          <mat-icon>expand_more</mat-icon>
        </div>
        <div class="btn-wrap additionally" routerLink="/auth/signin">Login</div>
        <div class="btn-wrap black additionally" routerLink="/auth/signup">
          Sing-up
        </div>
      </div>
    </ng-template>

    <div class="btn-wrap burger" (click)="letModal=!letModal">
      <mat-icon>menu </mat-icon>
    </div>

    <app-modal 
    *ngIf="letModal"
    (hideModal)="hideModal($event)"
    ></app-modal>
    
  </div>
</div>
