<div class="wrapper-header">
  <div class="header-left">
    <div class="logo">
      <img
        src="../../../assets/images/logo.png"
        alt=""
        width="110"
        height="65"
      />
    </div>
  </div>

  <div class="wrapper-button">
    <div class="btn-en">EN</div>
    <div class="btn-ru">RU</div>
  </div>

  <div class="search-wrap hide" *ngIf="AuthStateService.getCurrentState()">
    <input type="text" placeholder="Search" class="search" />
    <div class="cancel" style="cursor: pointer">
      <mat-icon>cancel</mat-icon>
    </div>
  </div>

  <div class="header-right">
    <div class="registration" *ngIf="AuthStateService.getCurrentState(); else registrationNot">
      <div class="search-wrap">
        <input type="text" placeholder="Search" class="search" />
        <div class="cancel" style="cursor: pointer">
          <mat-icon>cancel</mat-icon>
        </div>
      </div>
      <div class="btn-wrap additionally" routerLink="/team">
        Team
        <mat-icon>expand_more</mat-icon>
      </div>
  
      <div class="btn-wrap additionally" routerLink="/main">All boards</div>
      <div class="btn-wrap additionally" (click)="openDialog()">
        Create new <br />
        board
      </div>
      <div class="btn-wrap additionally" routerLink="/auth/profile">
        Edit profile
      </div>
      <div class="btn-wrap black additionally" routerLink="/auth/signin">Logout</div>
    </div>

    <ng-template #registrationNot>
      <div class="registration">
        <div class="btn-wrap additionally" routerLink="/team">
          Team
          <mat-icon>expand_more</mat-icon>
        </div>
        <div class="btn-wrap additionally" routerLink="/auth/signin">Login</div>
        <div class="btn-wrap black additionally" routerLink="/auth/signup">
          Sing-up
        </div>
      </div>
    </ng-template>

    <div class="btn-wrap burger" (click)="letModal=!letModal">
      <mat-icon>menu </mat-icon>
    </div>

    <div class="modal" *ngIf="letModal">
      
      <div class="modal-menu" *ngIf="!AuthStateService.getCurrentState(); else registrationYes ">
        <ul class="wrapper-list">
          <li class="list" routerLink="/auth/signin" (click)="letModal = !letModal">Login</li>
          <li class="list" routerLink="/auth/signup" (click)="letModal = !letModal">Sing-up</li>
          <li class="list" routerLink="/team" (click)="letModal = !letModal">Team</li>
        </ul>
        <div class="wrapper-btn-modal">
          <div class="btn-en">EN</div>
          <div class="btn-ru">RU</div>
        </div>
      </div>

      <ng-template #registrationYes>
        <div class="modal-menu">
          <ul class="wrapper-list">
            <li class="list" routerLink="/auth/signup" (click)="letModal = !letModal">Edit profile</li>
            <li class="list" routerLink="./team" (click)="letModal = !letModal">Team</li>
            <li class="list" routerLink="/main" (click)="letModal = !letModal">All board</li>
            <li class="list" (click)="openDialog()" (click)="letModal = !letModal">Crete new board</li>
            <li class="list" routerLink="/auth/signin" (click)="letModal = !letModal">Logout</li>
          </ul>
          <div class="wrapper-btn-modal">
            <div class="btn-en">EN</div>
            <div class="btn-ru">RU</div>
          </div>
        </div>
      </ng-template>

      <div class="modal-opacity" (click)="letModal=!letModal"></div>
    </div>

  </div>
</div>
