
<div class="wrapper-main">
    <div class="wrapper-description">
        <p class="title">Welcome to</p>
        <h1 class="projec-name">Project Ultra Management Application</h1>
        <div class="text">Bring your teammates to optimize the work process, improve efficiency and bring your results to the new level!</div>
    </div>
    <p class="title">About our team</p>
    <div class="wrapper-cards">
        <app-card 
        *ngFor="let card of cards"
        [card] = "card"
        ></app-card>
    </div>
    <div class="top" (click)="top()" [ngClass]="{hide: a}">TOP</div>
</div>
