<div class="container" [formGroup]="singupForm">
  <mat-form-field class="field" appearance="fill">
    <mat-label>
      {{'login' | translate }}
    </mat-label>
    <input
      formControlName="login"
      matInput
      placeholder="pat@example.com"
      required
    />
    <mat-error *ngIf="singupForm.get('login')?.errors">
      {{ getErrorMessage("login") }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field" appearance="fill">
    <mat-label>
      {{'password' | translate }}
    </mat-label>
    <input
      formControlName="password"
      matInput
      [type]="hide ? 'password' : 'text'"
    />
    <mat-error *ngIf="singupForm.get('password')?.errors">
      {{ getErrorMessage("password") }}
    </mat-error>
    <button
      type="button"
      class="btn__password"
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</div>
