<form class="add-board-form" [formGroup]="addBoardForm">
  <div mat-dialog-content>
    <h2>Create new board:</h2>
    <mat-form-field hintLabel="Min 3 characters" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput #title formControlName="title">
      <mat-hint align="end">{{title.value.length || 0}}/3</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput #description formControlName="description">
      <mat-hint align="end">{{description.value.length || 0}}/10</mat-hint>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button
      mat-button
      type="submit"
      [disabled]="!addBoardForm.valid"
      [mat-dialog-close]="addBoardForm.getRawValue()">
      Add
    </button>
  </div>
</form>
